
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>
        资金明细
        | 18ico-区块链项目ICO服务平台
    </title>
    <meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="18ico是一家针对数字货币、区块链领域的ICO融资服务平台，由一支有着丰富数字货币、区块链行业经验的团队成立。我们致力于为广大数字货币、区块链投资者提供一个安全、诚信、公平、透明的ICO融资服务平台。">
    <meta name="keywords" content="18ico区块链,区块链投资,区块链,区块链技术,区块链应用,区块链金融,区块链概念股,区块链原理,数字货币,数字资产">
    <meta name="sogou_site_verification" content="C8OJXgS1E7"/>
    <link rel="stylesheet" href="__CSS__/app-892a367653.css">
</head>
<body>
{include file='view/header' /}
<div id="user_content">
{include file='view/user-header'}

    <div class="user-container">
        <div class="user-body">
           {include file="view/user-menu" /} 
            <div class="user-body-right">
                <div id="capital_wrap">
                    <div class="capital-header">
                        <span class="capital-account">账户余额：<span class="btc-font-family">BTC：{$user.btc_acc}</span>&nbsp;&nbsp;&nbsp;<span class="btc-font-family">ETH：{$user.eth_acc}</span>&nbsp;&nbsp;&nbsp;<span class="btc-font-family">LTC：{$user.ltc_acc}</span></span>
                    </div>
                    <div class="capital-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>时间</th>
                                <th>类型</th>
                                <th>金额</th>
                                <!-- <th>状态</th> -->
                                <th class="text-center">账户余额</th>
                            </tr>
                            </thead>
                            <tbody class="capital-tbody">
                            {foreach $data as $v}
                            <tr>
                            <td>{$v.created_at)|date('Y-m-d H:i',}</td>
                            <td>{if $v.type==1}消费{else}系统充值{/if}</td>
                            <td>BTC：{$v.btc_money}<br/>LTC：{$v.ltc_money}<br/>ETH：{$v.eth_money}</td>
                            <!-- <td>状态</td> -->
                            <td class="text-center">BTC：{$user.btc_acc}<br/>LTC：{$user.ltc_acc}<br/>ETH：{$user.eth_acc}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="capital-footer">
                            <div class="page-count"><span>{$num}条记录 </span><span>1/1页</span></div>
                            <div id="capital_page"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {include file="view/footer" /}
 <div class="toolbar">
    <a href="javascript:" id="back_to_top" title="返回顶部">
        <svg height="30" width="30" viewBox="0 0 30 30"><path d="M30 26c0 2.2-1.8 4-4 4H4c-2.2 0-4-1.8-4-4V4c0-2.2 1.8-4 4-4h22c2.2 0 4 1.8 4 4v22z" opacity=".3"></path><path fill="#FFF" d="M25.002 18.463l-1.134-1.134-1.321-1.321L15 8.461l-7.438 7.438-1.227 1.226-1.338 1.338c-.778.777-.868 1.96-.2 2.628s1.85.577 2.628-.2l2.172-2.172L15 13.317l2.691 2.691 3.496 3.496 1.387 1.387c.777.777 1.96.868 2.628.2s.577-1.851-.2-2.628z"></path></svg>
    </a>
</div>
<script src="__JS__/vendor-140c67b313.bundle.js"></script>
<script src="__JS__/app-d2b0299975.bundle.js"></script>
<script src="__JS__/header-ee96b9a909.bundle.js"></script>
<script src="__JS__/user-4fdf20982d.bundle.js"></script>
</body>
</html>
