<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- v12657 -->
    <title>身份认证协议 &ndash; 帮助中心</title>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="ET2F6H2HEuWB1jDgrm6DuYcJ2FM04H/VQmpAaLEPYyH+QeggiMbvnM1s591/b8+ZSTuB+rH0LVXZLdBjovexGA=="/>
    
    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
    <link rel="stylesheet" media="all" href="__CSS__/application-e8d29219dfe57d94386797415147e7e1.css" id="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/style-1a5335a7a438d5b862f4d43c6164c83b.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="//p14.zdassets.com/hc/settings_assets/1985079/115000040453/sVb00HtCeEN6BSWx06ealQ-CgpEMlj90UqAOCAuAABH-Ky3X3s603.jpg"/>
    <!--[if lt IE 9]>
    <script>
        //Enable HTML5 elements for <IE9
        'abbr article aside audio bdi canvas data datalist details dialog \
        figcaption figure footer header hgroup main mark meter nav output \
        progress section summary template time video'.replace(/\w+/g, function (n) {
            document.createElement(n)
        });
    </script>
    <![endif]-->
    <script src="__JS__/jquery.js"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <script type="text/javascript" src="__JS__/script-1a5335a7a438d5b862f4d43c6164c83b.js"></script>
</head>
<body class="">
{include file="view/headertwo" /}
<main role="main">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="帮助中心">
                    <a href="help.html">帮助中心</a>
                </li>
                <li title="关于我们">
                    <a href="aboutUs.html">关于我们</a>
                </li>
                <li title="条款和协议">
                    <a href="termCondition.html">条款和协议</a>
                </li>
            </ol>
            <form role="search" class="search" data-search="" action="/hc/zh-cn/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="&#x2713;"/><input type="hidden" name="category" id="category" value="115000124054"/>
                <input type="search" name="query" id="query" placeholder="搜索" aria-label="搜索"/></form>
        </nav>
        <div class="article-container" id="article-container">
            <section class="article-sidebar">
                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title">此组别内的文章</h3>
                    <ul>
                        <li>
                            <a href="/home/index/rules?v=conditions" class="sidenav-item ">
                                18ico用户协议</a>
                        </li>
                        <li>
                            <a href="/home/index/rules?v=condition-supporter" class="sidenav-item ">支持者风险协议</a>
                        </li>
                        <li>
                            <a href="/home/index/rules?v=condition-init" class="sidenav-item ">发起者协议</a>
                        </li>
                        <li>
                            <a href="/home/index/rules?v=condition-id" class="sidenav-item current-article">身份认证协议</a>
                        </li>
                        <li>
                            <a href="/home/index/rules?v=condition-privacy" class="sidenav-item ">隐私权政策</a>
                        </li>
                    </ul>
                </section>
            </section>
            <article class="article">
                <header class="article-header">
                    <h1 title="身份认证协议" class="article-title">
                        身份认证协议
                    </h1>
                    <div class="article-author">
                        <div class="avatar article-avatar">
                            <span class="icon-agent"></span>
                            <img src="__IMG__/default_avatar.png" alt="Avatar" class="user-avatar"/>
                        </div>
                        <div class="article-meta">
                            Jing
                            <ul class="meta-group">
                                <li class="meta-data">
                                    <time datetime="2017-08-28T11:29:19Z" title="2017-08-28T11:29:19Z" data-datetime="relative">
                                        2017年08月28日上午11:29
                                    </time>
                                </li>
                                <li class="meta-data">更新于</li>
                            </ul>
                        </div>
                    </div>
                    <a class="article-subscribe" rel="nofollow" role="button" data-auth-action="signin" aria-selected="false" href="/hc/zh-cn/articles/115001249694-%E8%BA%AB%E4%BB%BD%E8%AE%A4%E8%AF%81%E5%8D%8F%E8%AE%AE/subscription">关注</a>
                </header>
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <div class="article bottom-line">
                                <div class="title">
                                    您确认，在开始“身份认证”（以下简称“认证”）前，您已详细阅读了本协议所有内容，一旦您开始认证流程，即表示您充分理解并同意接受本协议的全部内容。
                                </div>
                                <div>
                                    <p class="paragraph">
                                        为了提高融资投资过程中的安全性和会员身份的可信度，18ico向您提供认证服务。在您申请认证前，您必须先注册成为18ico用户。18ico有权采取各种其认为必要手段对用户的身份进行识别。但是，作为普通的网络服务提供商，18ico所能采取的方法有限，而且在网络上进行用户身份识别也存在一定的困难，因此，18ico对完成认证的用户身份的准确性和绝对真实性不做任何保证。</p>
                                    <p class="paragraph last-child">
                                        18ico向你提供的认证服务包括：个人身份认证和机构身份认证。18ico有权记录并保存您完成以上程序提供给18ico的信息和18ico获取的结果信息，亦有权根据本协议的约定向您或第三方提供您是否通过认证的结论以及您的身份信息。</p>
                                </div>
                            </div>
                            <div class="article bottom-line">
                                <div class="title">
                                    <strong><span class="wysiwyg-font-size-large">关于认证服务的理解与认同</span></strong></div>
                                <div>
                                    <ul>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">认证服务是由18ico提供的一项身份识别服务。除非本协议另有约定，一旦您的18ico账户完成了认证，相应的身份信息和认证结果将不因任何原因被修改或取消；如果您的身份信息在完成认证后发生了变更，您应向18ico提供相应有权部门出具的凭证，由18ico协助您变更您18ico账户的对应认证信息。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph last-child"><span class="paragraph-con">18ico有权单方随时修改或变更本协议内容，并通过18ico网站公告变更后的协议文本，无需单独通知您。本协议进行任何修改或变更后，您还继续使用18ico服务和/或认证服务的，即代表您已阅读、了解并同意接受变更后的协议内容；您如果不同意变更后的协议内容，应立即停用18ico服务和认证服务。</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="article bottom-line">
                                <div class="title"><strong><span class="wysiwyg-font-size-large">身份信息识别</span></strong>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">中华人民共和国（以下简称“中国”）个人18ico用户提供以下证件用于认证：认证当时处在有效期内的身份证、护照等明确标有身份证号的证件之一（需要在线上传证件时，必须是彩色原件扫描件，或者彩色数码拍摄件，第二代身份证需要同时提交正反两面，户籍证明提供日后的有效期在三个月以上，除临时身份证外，有效期三个月以内的证件不予受理)</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">法律规定不具有完全民事行为能力的自然人，18ico不向其提供认证服务。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">机构18ico用户向18ico申请认证服务时，应向本公司提供以下资料：商事主体公司名称、注册号、法人代表等信息。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">通过身份信息识别的18ico用户不能自行修改已经认证的信息，包括但不限于公司名称、姓名以及身份证件号码等。大陆个人18ico用户认证的有效期与其提供的身份证件有效期一致，但最长自认证完成日起不超过20年，户籍证明从通过审核当日开始起计算，有效期一年。其他个人18ico用户认证信息的有效期按证件有效期和担保期限两者中较短的有效期计算，但最长自认证完成日起不超过20年。机构18ico用户认证信息的有效期一般为一年，若营业期限距离认证通过日少于一年则应以营业期限为准。有效期满后，相应的18ico账户只能使用原先认证的身份信息或经合法变更后的身份信息进行再次认证。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph last-child"><span class="paragraph-con">在18ico用户对其18ico账户进行取回密码等操作时，需要按照本公司的提示出示可确认其持有该账户的个人身份证件，相关证件的要求依照本条前5项约定。</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="article bottom-line">
                                <div class="title"><strong><span class="wysiwyg-font-size-large">认证资料的管理</span></strong>
                                </div>
                                <div>
                                    <p class="paragraph">
                                        您在认证时提交给18ico的认证资料，即不可撤销的授权由18ico保留。18ico承诺除法定或约定的事由外，不公开或编辑或透露您的认证资料及保存在18ico的非公开内容用于商业目的，但本条第1项规定以及以下情形除外：</p>
                                    <ul>
                                        <li>
                                            <p class="li-paragraph">您授权18ico透露的相关信息；</p>
                                        </li>
                                        <li>
                                            <p class="li-paragraph">18ico向国家司法及行政机关提供；</p>
                                        </li>
                                        <li>
                                            <p class="li-paragraph">18ico向平台关联企业提供；</p>
                                        </li>
                                        <li>
                                            <p class="li-paragraph">第三方和18ico一起为用户提供服务时，该第三方向您提供服务所需的相关信息；</p>
                                        </li>
                                        <li>
                                            <p class="li-paragraph">基于解决您与第三方民事纠纷的需要，18ico有权向该第三方提供您的身份信息。</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="article bottom-line">
                                <div class="title"><strong><span class="wysiwyg-font-size-large">特别声明</span></strong>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico用户在会员身份认证前，应当仔细阅读本协议。18ico用户在会员身份认证后，表示已经认真阅读本协议，并同意接受本协议条款。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">对于拒绝同意本协议的用户，18ico平台有权拒绝为其提供需会员身份认证后的服务。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph">
                                                <span class="paragraph-con">18ico会员应当遵守国家有关法律法规。</span></p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico会员身份认证应当提供真实、准确、完整的有效身份证明文件等身份认证资料，并对身份认证资料的真实性、准确性与完整性负全部责任。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico会员应当对18ico平台录入的身份认证资料予以确认并对确认结果负责。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico认证有效身份证明文件有重大变化时，应当及时向18ico平台申请变更。否则，因此导致的经济损失和法律责任由认证会员承担。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico认证会员保证认证成功后账户的合法合规使用，并对该账户下的一切活动（包括但不限于投资承诺等）承担法律责任。18ico认证会员账户不得转借第三人，对因违规使用或将认证账户转借他人导致的经济损失和法律责任由认证会员承担。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico平台应当对认证会员注册的开户资料保密，但法律法规规定必须公开的除外。</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="paragraph"><span class="paragraph-con">18ico平台仅对会员所提供的身份认证资料的完整性进行审核，核查会员身份证明文件是否有效、注册申请表所填写内容与身份证明文件相关内容是否一致。但是，这并不表明对用户所提供的开户资料做出真实性判断或者保证。对下列情况之一所引起的法律纠纷，18ico平台不承担责任：</span>
                                            </p>
                                        </li>
                                        <li>
                                            <div class="paragraph-item">
                                                <p>（1）使用虚假资料进行身份认证；</p>
                                                <p>（2）违规使用他人合法证件进行身份认证；</p>
                                                <p>（3）法律法规规定不能买卖股权的自然人会员和法人进行身份认证；</p>
                                                <p>（4）其他违规进行身份认证的情况。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <p class="paragraph last-child"><span class="paragraph-con">18ico平台修订业务规则及本协议时，应当在网站公告，新规则自公告之日起生效。不需知会每个认证会员。认证会员应当按照修订后的业务规则执行。</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="article">
                                <div class="title"><strong><span class="wysiwyg-font-size-large">协议关系</span></strong>
                                </div>
                                <div>
                                    <p class="paragraph">
                                        本协议构成《18ico服务条款》的有效组成部分；两者约定不一致或本协议未约定的内容，以《18ico服务条款》的约定为准。</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-attachments">
                            <ul class="attachments">
                            </ul>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="share">
                                <li>
                                    <a href="#" class="share-facebook">Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="share-twitter">Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="share-linkedin">LinkedIn</a>
                                </li>
                                <li>
                                    <a href="#" class="share-googleplus">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="article-votes">
                        <span class="article-votes-question">这篇文章有帮助吗？</span>
                        <div class="article-votes-controls" role='radiogroup'>
                            <a role="radio" rel="nofollow" class="button article-vote article-vote-up" title="是" aria-selected="false" data-auth-action="signin" href="/hc/zh-cn/signin?return_to=https%3A%2F%2F18ico.zendesk.com%2Fhc%2Fzh-cn%2Farticles%2F115001249694-%25E8%25BA%25AB%25E4%25BB%25BD%25E8%25AE%25A4%25E8%25AF%2581%25E5%258D%258F%25E8%25AE%25AE"></a>
                            <a role="radio" rel="nofollow" class="button article-vote article-vote-down" title="否" aria-selected="false" data-auth-action="signin" href="/hc/zh-cn/signin?return_to=https%3A%2F%2F18ico.zendesk.com%2Fhc%2Fzh-cn%2Farticles%2F115001249694-%25E8%25BA%25AB%25E4%25BB%25BD%25E8%25AE%25A4%25E8%25AF%2581%25E5%258D%258F%25E8%25AE%25AE"></a>
                        </div>
                        <small class="article-votes-count">
                            <span class="article-vote-label">14 人中有 14 人觉得有帮助</span>
                        </small>
                    </div> -->
                    <div class="article-more-questions">
                        还有其它问题？<a href="login.html">提交请求</a>
                    </div>
                    <div class="article-return-to-top">
                        <a href="#article-container">返回页首<span class="icon-arrow-up"></span></a>
                    </div>
                </footer>
                <!-- <section class="article-relatives">
                    <section class="related-articles">
                        <h3>最近查看的文章</h3>
                        <ul>
                            <li>
                                <a href="contactUs.html">联系我们</a>
                            </li>
                            <li>
                                <a href="condition-privacy.html">隐私权政策</a>
                            </li>
                            <li>
                                <a href="condition-init.html">发起者协议</a>
                            </li>
                            <li>
                                <a href="condition-supporter.html">支持者风险协议</a>
                            </li>
                            <li>
                                <a href="joinUs.html">加入我们</a>
                            </li>
                        </ul>
                    </section>
                    <section class="related-articles">
                        <h3>相关文章</h3>
                        <ul>
                            <li>
                                <a href="condition-privacy.html">隐私权政策</a>
                            </li>
                            <li>
                                <a href="conditions.html">
                                    18ico用户协议</a>
                            </li>
                            <li>
                                <a href="contactUs.html">联系我们</a>
                            </li>
                            <li>
                                <a href="condition-supporter.html">支持者风险协议</a>
                            </li>
                            <li>
                                <a href="condition-init.html">发起者协议</a>
                            </li>
                        </ul>
                    </section>
                </section> -->
                <!-- <div class="article-comments" id="article-comments">
                    <section class="comments">
                        <header class="comment-overview">
                            <h3 class="comment-heading">
                                评论
                            </h3>
                            <p class="comment-callout">0 条评论</p>
                        </header>
                        <ul id="comments" class="comment-list">
                        </ul>
                        <p class="comment-callout">
                            请<a data-auth-action="signin" href="login.html">登录</a>写评论。
                        </p>
                    </section>
                </div> -->
            </article>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-inner">
        <a title="主页" href="help.html">帮助中心</a>
        <div class="footer-language-selector">
            <div class="dropdown language-selector" aria-haspopup="true">
                <a class="dropdown-toggle">
                    简体中文
                </a>
                <span class="dropdown-menu dropdown-menu-end" role="menu">

              <a href="#" dir="ltr" rel="nofollow" role="menuitem">
                English (US)
              </a>

          </span>
            </div>
        </div>
    </div>
</footer>
<!-- / -->
<!-- <script type="text/javascript" src="__JS__/zh-cn-e9f5d547950a07db405d57073c7ce0eb.js"></script> -->
<script src="__JS__/host.js" data-brand-id="114094285894" data-return-to="https://18ico.zendesk.com/hc/zh-cn/articles/115001249694-%E8%BA%AB%E4%BB%BD%E8%AE%A4%E8%AF%81%E5%8D%8F%E8%AE%AE" data-theme="hc" data-locale="10" data-auth-origin="114094285894,false,true"></script>
<script type="text/javascript">
    /*

      Greetings sourcecode lurker!

      This is for internal Zendesk and legacy usage,
      we don't support or guarantee any of these values
      so please don't build stuff on top of them.

    */

    HelpCenter = {};
    HelpCenter.account = {"subdomain": "18ico", "environment": "production", "name": "18ico"};
    HelpCenter.user = {
        "identifier": "da39a3ee5e6b4b0d3255bfef95601890afd80709",
        "email": null,
        "name": null,
        "role": "anonymous",
        "avatar_url": "__IMG__/default_avatar.png",
        "organizations": [],
        "groups": []
    };
    HelpCenter.internal = {
        "asset_url": "//p14.zdassets.com/hc/assets/",
        "current_session": {
            "locale": "zh-cn",
            "csrf_token": "Eb6pdZowdv836llF0L9KZHyd9VJ3t++lmC6iGpbkZ/D+wsS9b3GLhntQjngBvgZEsq+s+/KjvSUDaTIRhRy1yQ==",
            "shared_csrf_token": null
        },
        "settings": {"zopim_enabled": false, "spam_filter_enabled": true},
        "current_record_id": "115001249694",
        "current_record_url": "/hc/zh-cn/articles/115001249694-%E8%BA%AB%E4%BB%BD%E8%AE%A4%E8%AF%81%E5%8D%8F%E8%AE%AE",
        "current_record_title": "身份认证协议",
        "search_results_count": null,
        "current_text_direction": "ltr",
        "current_brand_url": "https://18ico.zendesk.com",
        "current_host_mapping": null,
        "current_path": "/hc/zh-cn/articles/115001249694-%E8%BA%AB%E4%BB%BD%E8%AE%A4%E8%AF%81%E5%8D%8F%E8%AE%AE",
        "authentication_domain": "https://18ico.zendesk.com",
        "show_autocomplete_breadcrumbs": true,
        "heap_analytics_id": null,
        "user_info_changing_enabled": false,
        "has_user_profiles_enabled": false,
        "has_anonymous_kb_voting": false,
        "has_advanced_upsell": false,
        "has_multi_language_help_center": true,
        "has_user_segments": true,
        "mobile_device": false,
        "mobile_site_enabled": false,
        "show_at_mentions": false,
        "has_copied_content": false,
        "embeddables_config": {
            "embeddables_web_widget": false,
            "embeddables_automatic_answers": false,
            "embeddables_connect_ipms": false
        },
        "plans_url": "https://18ico.zendesk.com/hc/admin/plan?locale=zh-cn",
        "manage_content_url": "https://18ico.zendesk.com/hc/zh-cn",
        "arrange_content_url": "https://18ico.zendesk.com/hc/admin/arrange_contents?locale=zh-cn",
        "general_settings_url": "https://18ico.zendesk.com/hc/admin/general_settings?locale=zh-cn",
        "user_segments_url": "https://18ico.zendesk.com/hc/admin/user_segments?locale=zh-cn",
        "has_community_enabled": false,
        "has_multiselect_field": false,
        "has_groups": true,
        "has_internal_sections": true,
        "has_organizations": true,
        "has_tag_restrictions": true,
        "has_answer_bot_web_form_enabled": false,
        "billing_url": "/access/return_to?return_to=https://18ico.zendesk.com/billing",
        "has_answer_bot_management": true,
        "answer_bot_management_url": "https://18ico.zendesk.com/hc/admin/answer_bot?locale=zh-cn",
        "is_account_owner": false,
        "guide_plan_state": "plan_advanced",
        "theming_center_url": "https://18ico.zendesk.com/theming"
    };
</script>
<script src="__JS__/hc_enduser-d0e2af67e71965e4d4d3.js"></script>
<script type="text/javascript">
    (function () {
        var Tracker = {};

        Tracker.track = function (eventName, data) {
            var url = "https://18ico.zendesk.com/hc/tracking/events?locale=zh-cn";

            var payload = {
                "event": eventName,
                "data": data,
                "referrer": document.referrer
            };

            var xhr = new XMLHttpRequest();

            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            xhr.send(JSON.stringify(payload));
        };

        Tracker.track("article_viewed", "BAh7BzoLbG9jYWxlSSIKemgtY24GOgZFVDoPYXJ0aWNsZV9pZGwrCJ7Pm8YaAA==--d1ab87bb42e0e41686172e3bcdefd8299cdd8947");
    })();
</script>
</body>
</html>