<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>
        身份认证| ico365-区块链项目ICO服务平台
    </title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="18ico是一家针对数字货币、区块链领域的ICO融资服务平台，由一支有着丰富数字货币、区块链行业经验的团队成立。我们致力于为广大数字货币、区块链投资者提供一个安全、诚信、公平、透明的ICO融资服务平台。">
    <meta name="keywords" content="18ico区块链,区块链投资,区块链,区块链技术,区块链应用,区块链金融,区块链概念股,区块链原理,数字货币,数字资产">
    <link rel="stylesheet" href="__CSS__/app-892a367653.css">
      <style type="text/css">
       .country-select select{
           border: 1px solid #d1d1d1;
           color: #0b0b0b;
           font-size: 14px;
           height: 40px;
           line-height: 40px;
           width: 307px;
           padding: 3px 15px;
           outline: 0;
           vertical-align: middle;
       
       } 
        .form-group{
            position: relative;
        }
    </style>
</head>
<body>
{include file='view/header' /}
<form id="fmform1" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg1" name="imgtype1"/>
    <input id="fmimg1" style="display: none;" name="fmimg1" type="file" onChange="uploadss('fmform1')"/>
</form>
<form id="fmform2" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg2" name="imgtype2"/>
    <input id="fmimg2" style="display: none;" name="fmimg2" type="file" onChange="javarscript:uploadss('fmform2')"/>
</form>
<form id="fmform3" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg3" name="imgtype3"/>
    <input id="fmimg3" style="display: none;" name="fmimg3" type="file" onChange="javarscript:uploadss('fmform3')"/>
</form>
<form id="fmform4" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg4" name="imgtype4"/>
    <input id="fmimg4" style="display: none;" name="fmimg4" type="file" onChange="javarscript:uploadss('fmform4')"/>
</form>
<form id="fmform5" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg5" name="imgtype5"/>
    <input id="fmimg5" style="display: none;" name="fmimg5" type="file" onChange="javarscript:uploadss('fmform5')"/>
</form>
<form id="fmform6" action="" method="POST" enctype="multipart/form-data">
    <input type="hidden" value="fmimg6" name="imgtype6"/>
    <input id="fmimg6" style="display: none;" name="fmimg6" type="file" onChange="javarscript:uploadss('fmform6')"/>
</form>
<script src="/static/admin/js/jquery.form.js"></script>
<script>
function uploadss(fromID){
      var vars=$("#"+fromID);
      var num = fromID.charAt(fromID.length - 1);
      // console.log(num);
      var options={
          type:"post",
          url:"/admin/project/upload1",
          dataType:'json',
          contentType:"application/json;charset=utf-8",
          success:function(data){
            if (data.code == 1) {
                $('#imgurl'+num).attr("src",data.data);
                $('#l_banner'+num).val(data.data);
            }
          }
      }
      vars.ajaxSubmit(options);
  }   
</script>
<div id="user_content">
    {include file='view/user-header' /}
    <div class="user-container">
        <div class="user-body">
            {include file="view/user-menu" /}
            <div class="user-body-right">
                <div class="identity-page-right" id="identity_wrap">
                    <div class="identity-switch-box">
                        <button type="button" class="identity-switch-item person-identity active" data-type="person">个人认证</button>
                        <button type="button" class="identity-switch-item agency-identity" data-type="agency">机构认证</button>
                    </div>
                    <div class="person-identity-toggle identity-form">
                        <form action="#" id="person_identity_form">
                             <div class="form-group">
                               <label for="country">国籍：</label>
                               <div class="country-select"> 
                                    <select name="state" id="" class="fly_select">
                                       
                                        <!-- <option value="">请选择国家</option> -->
                                        <option value="中国">中国</option>
                                       <!--  <option value="英国">英国</option>
                                       <option value="美国">美国</option>
                                       <option value="俄罗斯">俄罗斯</option> -->
                                    </select>
                                </div>
                            </div>
                            
                            <div class="china-person">
                                <div class="form-group">
                                    <label for="username">姓名：</label>
                                    <input type="text" name="name" id="username">
                                    <div class="protip-container protip-skin-default username  protip-skin-default--size-normal protip-skin-default--scheme-pro" data-pt-identifier="15048600192548467" style="max-width: 300px; min-width: 213px; left: 153.875px; top: -54px;" data-pt-position="top-left"><span class="protip-arrow"></span><div class="protip-content">请输入姓名（英文或拼音）</div></div>
                                </div>
                                <div class="form-group">
                                    <label for="idcard">身份证号码：</label>
                                    <input type="text" name="card_id" id="idcard">
                                    <div class="protip-container protip-skin-default idcard protip-skin-default--size-normal protip-skin-default--scheme-pro" data-pt-identifier="15048612009052251" style="max-width: 300px; min-width: 153px; left: 153.875px; top: -54px;" data-pt-position="top-left"><span class="protip-arrow"></span><div class="protip-content">请输入正确身份证号码</div></div>
                                </div>
                                <div class="form-group m30">
                                    <label for="username" class="id-card">手持身份证正面：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="hand_front" id="l_banner1"> 
                                          
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl1" name="imgurl1"  onclick="javascript:$('#fmimg1').click();" />
                                        </a>
                                        <p>手持身份证正面</p>
                                    </div>
                                    <div class="upload-example">
                                        <div class="picture-example">
                                            <img src="__IMG__/id-handheld.jpg" alt="id card picture">
                                        </div>
                                        <div class="example-intro">
                                            <h4>示例</h4>
                                            <p>保证文字清晰可识别</p>
                                            <p>图片大小不要超过1MB</p>
                                            <p>建议使用QQ截图</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m30">
                                    <label for="username" class="id-card">身份证正面：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="front" id="l_banner2"> 
                                          
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl2" name="imgurl2"  onclick="javascript:$('#fmimg2').click();" />
                                        </a>
                                        <p>身份证正面</p>
                                    </div>
                                    <div class="upload-example">
                                        <div class="picture-example">
                                            <img src="__IMG__/id-front.jpg" alt="id card picture">
                                        </div>
                                        <div class="example-intro">
                                            <h4>示例</h4>
                                            <p>保证文字清晰可识别</p>
                                            <p>图片大小不要超过1MB</p>
                                            <p>建议使用QQ截图</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m30">
                                    <label for="username" class="id-card">身份证背面：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="back" id="l_banner3"> 
                                            
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl3" name="imgurl3"  onclick="javascript:$('#fmimg3').click();" />
                                        </a>
                                        <p>身份证背面</p>
                                    </div>
                                    <div class="upload-example">
                                        <div class="picture-example">
                                            <img src="__IMG__/id-back.jpg" alt="id card picture">
                                        </div>
                                        <div class="example-intro">
                                            <h4>示例</h4>
                                            <p>保证文字清晰可识别</p>
                                            <p>图片大小不要超过1MB</p>
                                            <p>建议使用QQ截图</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foreign-person hide">
                                <div class="form-group">
                                    <label for="person_name">姓名(英文或拼音)：</label>
                                    <input type="text" name="name1" id="person_name">
                                </div>
                                <div class="form-group">
                                    <label for="person_local_name">姓名(本地语言)：</label>
                                    <input type="text" name="local_name" id="person_local_name">
                                </div>
                                <div class="form-group">
                                    <label for="passport_code">护照号：</label>
                                    <input type="text" name="passport_num" id="passport_code">
                                </div>
                                <div class="form-group m30">
                                    <label for="username" class="id-card">上传护照1：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="hand_front1" id="l_banner4"> 
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl4" name="imgurl4"  onclick="javascript:$('#fmimg4').click();" />
                                        </a>
                                        <p>请上传护照图片</p>
                                    </div>
                                    <div class="passport-upload-example">
                                        <div class="picture-example">
                                            <img src="__IMG__/passport1.jpg" alt="passport picture">
                                        </div>
                                        <div class="example-intro">
                                            <h4>示例</h4>
                                            <p>请确保您提交的文件符合以下要求：</p>
                                            <p>1.请提供有效国际护照，带有明确有效日期；</p>
                                            <p>2.证件图片/文字要求清晰可见（允许水印）；</p>
                                            <p>3.图片大小不要超过1M</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m30">
                                    <label for="username" class="id-card">手持护照2：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="front1" id="l_banner5"> 
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl5" name="imgurl5"  onclick="javascript:$('#fmimg5').click();" />
                                        </a>
                                        <p>请上传护照图片</p>
                                    </div>
                                    <div class="passport-upload-example">
                                        <div class="picture-example">
                                            <img src="__IMG__/passport2.jpg" alt="passport picture">
                                        </div>
                                        <div class="example-intro">
                                            <h4>示例</h4>
                                            <p>请确保您提交的文件符合以下要求：</p>
                                            <p>1.在拍摄时，确保五官和照片基本一致，不要遮挡面部；</p>
                                            <p>2.证件图片/文字要求清晰可见（允许水印）；</p>
                                            <p>3.图片大小不要超过1M</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="born_day">生日：</label>
                                    <input type="text" name="year" id="born_year" placeholder="年">
                                    <input type="text" name="month" id="born_month" placeholder="月">
                                    <input type="text" name="days" id="born_day" placeholder="日">
                                </div>
                                <div class="form-group">
                                    <label>当前居住国家：</label>
                                     <div class="country-select"> 
                                    <select name="citys" id="" class="fly_select">
                                        <option value="">请选择国家</option>
                                        <option value="中国">中国</option>
                                        <option value="英国">英国</option>
                                        <option value="美国">美国</option>
                                        <option value="俄罗斯">俄罗斯</option>
                                    </select>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <span>请确保以下填写的个人住址信息与个人信息中的地址保持一致。</span>
                                </div>
                                <div class="form-group">
                                    <label for="person_postcode">邮编：</label>
                                    <input type="text" name="postage" id="person_postcode">
                                </div>
                                <div class="form-group">
                                    <label for="person_detail_address">详细地址：</label>
                                    <input type="text" name="detail_address" id="person_detail_address">
                                </div>
                                <div class="form-group">
                                    <label for="person_city_name">城市：</label>
                                    <input type="text" name="city" id="person_city_name">
                                </div>
                                <div class="form-group">
                                    <label for="person_district">州/省/地区：</label>
                                    <input type="text" name="capitol" id="person_district">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""></label>
                                <span class="ico-agree person-id-agree">
<svg height="12" width="14" viewBox="0 0 18 18">

<path class="check-color" fill-rule="evenodd" clip-rule="evenodd" fill="#24D96D" d="M3.389 8.418l3.273 2.609 8.151-7.51s.547-.5 1.024-.109c.143.118.307.45-.063.97l-8.511 9.97s-.653.893-1.427-.01L2.165 9.379s-.436-.671.109-1.075c.184-.135.602-.345 1.115.114m0 0"></path><path class="border-color" fill="#9B9B9B" d="M17 1v16H1V1h16m1-1H0v18h18V0z"></path></svg>
</span>
                                <span>我承诺所提供的资料为我本人所有，不存在盗用别人资料的情况。</span>
                            </div>
                        </form>
                        <div class="btn-group">
                            <button id="persons" type="button" onClick="persons()" class="submit-person-btn">提交</button>
                        </div>
                    </div>
                    <div class="agency-identity-toggle identity-form hide">
                        <form action="#" id="agency_identity_form">
                            <div class="form-group">
                               <label for="country">国籍：</label>
                               <div class="country-select"> 
                                    <select name="state" class="fly_select">
                                       
                                        <option value="">请选择国家</option>
                                        <option value="中国">中国</option>
                                        <option value="英国">英国</option>
                                        <option value="美国">美国</option>
                                        <option value="俄罗斯">俄罗斯</option>
                                    </select>
                                </div>
                            </div>
                            <div class="china-identity">
                                <div class="form-group">
                                    <label for="china_company_name">公司名称：</label>
                                    <input type="text" name="company" id="china_company_name">
                                </div>
                                <div class="form-group">
                                    <label for="register_num">企业注册号：</label>
                                    <input type="text" name="register_num" id="register_num" >
                                </div>
                                <div class="form-group">
                                    <label for="legal_person">法人代表姓名：</label>
                                    <input type="text" name="legal_person" id="legal_person">
                                </div>
                                <div class="form-group">
                                    <label for="register_year">注册日期：</label>
                                    <input type="text" id="register_year" name="register_year" placeholder="年">
                                    <div class="protip-container protip-skin-default register_year protip-skin-default--size-normal protip-skin-default--scheme-pro" data-pt-identifier="15048615144231167" style="max-width: 300px; min-width: 138px; left: 153.875px; top: -54px;" data-pt-position="top-left"><span class="protip-arrow"></span><div class="protip-content">请输入正确注册年份</div></div>
                                    <input type="text" id="register_month" name="register_month" placeholder="月">
                                    <div class="protip-container protip-skin-default register_month protip-skin-default--size-normal protip-skin-default--scheme-pro" data-pt-identifier="15048615037617061" style="max-width: 300px; min-width: 138px; left: 257.75px; top: -54px;" data-pt-position="top-left"><span class="protip-arrow"></span><div class="protip-content">请输入正确注册月份</div></div>
                                    <input type="text" id="register_day" name="register_day" placeholder="日">
                                    <div class="protip-container protip-skin-default register_day protip-skin-default--size-normal protip-skin-default--scheme-pro" data-pt-identifier="1504861507149503" style="max-width: 300px; min-width: 138px; left: 361.625px; top: -54px;" data-pt-position="top-left"><span class="protip-arrow"></span><div class="protip-content">请输入正确注册日期</div></div>
                                </div>
                                <div class="form-group">
                                    <label for="register_address">注册地址：</label>
                                    <input type="text" name="register_address" id="register_address">
                                </div>
                                <div class="form-group m30">
                                    <label for="business_license" class="id-card">营业执照：</label>
                                    <div class="upload-identity">
                                        <a href="javascript:" class="upload-file-button upload-id-front">
                                           <input type="hidden" name="license" id="l_banner6"> 
                                           
                                            <img src="__IMG__/fly_add.png" id="imgurl6" name="imgurl6"  onclick="javascript:$('#fmimg6').click();" />
                                        </a>
                                        <p>企业营业执照</p>
                                    </div>
                                </div>
                            </div>
                            <div class="foreign-identity hide">
                                <div class="form-group">
                                    <label for="company_name">公司名称(英文或拼音)：</label>
                                    <input type="text" name="company_foreign_name" id="company_foreign_name">
                                </div>
                                <div class="form-group">
                                    <label for="company_local_name">公司名称(本地语言)：</label>
                                    <input type="text" name="company_local_name" id="company_local_name">
                                </div>
                                <div class="form-group">
                                    <label for="register_code">企业注册号：</label>
                                    <input type="text" name="register_num1" id="register_code">
                                </div>
                                <div class="form-group">
                                    <label for="for_register_year">注册日期：</label>
                                    <input type="text" name="register_year1" id="for_register_year" placeholder="年">
                                    <input type="text" name="register_month1" id="for_register_month" placeholder="月">
                                    <input type="text" name="register_day1" id="for_register_day" placeholder="日">
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <span>请确保以下注册住址信息真实性。</span>
                                </div>
                                <div class="form-group">
                                    <label for="agency_postcode">邮编：</label>
                                    <input type="text" name="postage" id="agency_postcode">
                                </div>
                                <div class="form-group">
                                    <label for="agency_detail_address">详细地址：</label>
                                    <input type="text" name="detail_address" id="agency_detail_address">
                                </div>
                                <div class="form-group">
                                    <label for="agency_city_name">城市：</label>
                                    <input type="text" name="city" id="agency_city_name">
                                </div>
                                <div class="form-group">
                                    <label for="agency_district">州/省/地区：</label>
                                    <input type="text" name="capital" id="agency_district">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""></label>
                                <span class="ico-agree" id="agency-id-agree">
<svg height="12" width="14" viewBox="0 0 18 18">

<path class="check-color" fill-rule="evenodd" clip-rule="evenodd" fill="#24D96D" d="M3.389 8.418l3.273 2.609 8.151-7.51s.547-.5 1.024-.109c.143.118.307.45-.063.97l-8.511 9.97s-.653.893-1.427-.01L2.165 9.379s-.436-.671.109-1.075c.184-.135.602-.345 1.115.114m0 0"></path><path class="border-color" fill="#9B9B9B" d="M17 1v16H1V1h16m1-1H0v18h18V0z"></path></svg>
</span>
                                <span>我承诺所提供的资料为我本人所有，不存在盗用别人资料的情况。</span>
                            </div>
                        </form>
                        <div class="btn-group">
                            <button id="agencys"  onClick="agencys()" type="button" class="submit-agency-btn">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript">
 $('#username').bind('input propertychange', function() { 
    var username = /^[\u4E00-\u9FA5A-Za-z]+$/;
    if(!username.test($("#username").val())){
        $(".username").css("opacity","1");
    }else{
        $(".username").css("opacity","0");
    }
}); 
 $('#idcard').bind('input propertychange', function() { 
    var idcard = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    if(!idcard.test($("#idcard").val())){
        $(".idcard").css("opacity","1");
    }else{
        $(".idcard").css("opacity","0");
    }
}); 
 $('#register_year').bind('input propertychange', function() { 
    var register_year = /(19[\d][\d]|20[\d][\d])/;
    if(!register_year.test($("#register_year").val())){
        $(".register_year").css("opacity","1");
    }else{
        $(".register_year").css("opacity","0");
    }
});
 $('#register_month').bind('input propertychange', function() { 
    var register_month = /^(0?[[1-9]|1[0-2])$/;
    if(!register_month.test($("#register_month").val())){
        $(".register_month").css("opacity","1");
    }else{
        $(".register_month").css("opacity","0");
    }
});
 $('#register_day').bind('input propertychange', function() { 
    var register_day = /^([12][0-9]|31|[1-9])$/;
    if(!register_day.test($("#register_day").val())){
        $(".register_day").css("opacity","1");
    }else{
        $(".register_day").css("opacity","0");
    }
});
 function persons(){
    // alert($('#persons').text());return;
    if($('#persons').text() != "提交"){alert('请勿连续提交');return false;}
    $('#persons').text('提交中..');
    setTimeout("$('#persons').text('提交')",3000)
    var data = $('#person_identity_form').serialize();
       $.ajax({
         url:'/home/user/personAuth',
         method:'post',
         data:{data:data},
         success:function(req){
                if(req.code==1){
                    alert(req.msg)
                    location.reload();
                }else{
                    alert(req.msg)
                }
         },
         error:function(){
            alert('网络错误');
         }
       });
 } 
 function agencys(){
    if($('#agencys').text() != "提交"){alert('请勿连续提交');return false;}
    $('#agencys').text('提交中..');
    setTimeout("$('#agencys').text('提交')",3000)
     var data = $('#agency_identity_form').serialize();
       $.ajax({
         url:'/home/user/agencyAuth',
         method:'post',
         data:{data:data},
         success:function(req){
          console.log(req);
                if(req.code==1){
                    alert(req.msg)
                    location.reload();
                }else{
                    alert(req.msg)
                }
         },
         error:function(){
            alert('网络错误');
         }
       }); 
     // $('#agency_identity_form').ajaxSubmit(options);
 }

</script>
{include file='view/footer' /}
 <div class="toolbar">
    <a href="javascript:" id="back_to_top" title="返回顶部">
        <svg height="30" width="30" viewBox="0 0 30 30">

            <path d="M30 26c0 2.2-1.8 4-4 4H4c-2.2 0-4-1.8-4-4V4c0-2.2 1.8-4 4-4h22c2.2 0 4 1.8 4 4v22z" opacity=".3"></path><path fill="#FFF" d="M25.002 18.463l-1.134-1.134-1.321-1.321L15 8.461l-7.438 7.438-1.227 1.226-1.338 1.338c-.778.777-.868 1.96-.2 2.628s1.85.577 2.628-.2l2.172-2.172L15 13.317l2.691 2.691 3.496 3.496 1.387 1.387c.777.777 1.96.868 2.628.2s.577-1.851-.2-2.628z"></path></svg>
    </a>
</div>
<script src="__JS__/vendor-140c67b313.bundle.js"></script>
<script src="__JS__/app-d2b0299975.bundle.js"></script>
<script src="__JS__/header-ee96b9a909.bundle.js"></script>
<script src="__JS__/user-4fdf20982d.bundle.js"></script>
</body>
</html>
