<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        项目列表
        | 18ico-区块链项目ICO服务平台
    </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="18ico是一家针对数字货币、区块链领域的ICO融资服务平台，由一支有着丰富数字货币、区块链行业经验的团队成立。我们致力于为广大数字货币、区块链投资者提供一个安全、诚信、公平、透明的ICO融资服务平台。">
    <meta name="keywords" content="18ico区块链,区块链投资,区块链,区块链技术,区块链应用,区块链金融,区块链概念股,区块链原理,数字货币,数字资产">
    <meta name="sogou_site_verification" content="C8OJXgS1E7">
    <link rel="stylesheet" href="__CSS__/app-892a367653.css">
</head>
<body>
{include file='view/header' /}
<div class="main-wrap" id="pitches_content">
    <section class="banner-body items-banner-body">
        <a class="arrow-left" href="#"></a>
        <a class="arrow-right" href="#"></a>
        <div class="swiper-container" id="swiper-body-items" style="cursor: -webkit-grab;">
            <div class="swiper-wrapper" style="height: 200px; width: 7612px; transform: translate3d(-1903px, 0px, 0px); transition-duration: 0s;">
                <div class="swiper-slide swiper-slide-duplicate" style="width: 1903px; height: 200px; background-image: url('__IMG__/20170824115959_33439.jpg'); background-repeat: no-repeat; background-size: cover; text-align: center; background-position: center center;">
                    <a target="_blank" href="show_info.html" style="display: block;height: 200px" id="banner1"></a>
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 1903px; height: 200px; background-image: url('__IMG__/20170821170556_62564.jpg'); background-repeat: no-repeat; background-size: cover; text-align: center; background-position: center center;">
                    <a target="_blank" href="show_info.html" style="display: block;height: 200px" id="banner0"></a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination">
            <span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span>
        </div>
    </section>
    <section class="exhibition-list" style="display: none">
        <a class="status1 active exhibition-list-type" data-type="library">全部项目</a>
    </section>
    <section class="exhibition-project-title">
        ICO365 展示项目
    </section>
    <section id="container" class="clearfix">
        <div class="content-body">
            <div class="project-show">
                <div class="wrapper show-marginTop">
                    <div class="flex-row">
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1503479781161982402.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="金融链Finchain">金融链Finchain</a>
                                </h4><h5>金融链Finchain</h5>
                                    <div class="block-content">
                                        专注于金融行业商业底层应用的公有链，去中心化的金融信息服务平台，打造数字金融生态圈，是基于区块链技术的金融业appstore
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 2800.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="473" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1498127214.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="OAX">OAX</a>
                                </h4><h5>OAX</h5>
                                    <div class="block-content">openANX是一个创新、开源、去中心化的交易平台，将更透明、安全和高效
                                        ，从根本上改变数字化代币市场的交易模式。openANX将...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH 0.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="191" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1498228503.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="云链">云链</a>
                                </h4><h5>云链</h5>
                                    <div class="block-content">
                                        云链是基于元界区块链的智能新传媒体系。云链在元界公链上，应用元界的数字身份体系和智能合约体系，结合区块链技术对云链平台所...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 0.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="199" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497669971.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="OmiseGo-去中心化交易和支付平台">OmiseGo-去中心化交易和支付平台</a>
                                </h4><h5>OmiseGo-去中心化交易和支付平台</h5>
                                    <div class="block-content">OmiseGo正在搭建一个具备去中心化交易、流动性提供机制、清算信息网络和资产支持的区块链网关。</div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 7600.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="163" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1498061449.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Dcorp-去中心化公司">Dcorp-去中心化公司</a>
                                </h4><h5>Dcorp-去中心化公司</h5>
                                    <div class="block-content">DCORP是一个类似公司的实体，以一系列智能合约的形式存在于区块链上。它管理自己的代币(DRP)及
                                        其所持有的以太坊代币(E...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 0.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="184" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1498097700.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="云医链HIS(Healthcare Intelligence System)">云医链HIS(Healthcare
                                        Intelligence System)</a></h4><h5>云医链HIS(Healthcare Intelligence System)</h5>
                                    <div class="block-content">
                                        是一个基于医疗物联网区块链的医药人工智能大数据应用台，旨在链接医院、医生、药品、器械以及各种医疗医药电子档案信息等等.
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH
                                                200000.00</a></div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="185" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497702649.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="社交链(SNC)基于区块链技术的社交通讯平台">社交链(SNC)基于区块链技术的社交通讯平台</a>
                                </h4><h5>社交链(SNC)基于区块链技术的社交通讯平台</h5>
                                    <div class="block-content">社交链(social network coin,
                                        简称SNC)是2017年6月2日创世，社交链(SNC)创新的采用了达世币的主节点计划，并改进了POW挖...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 316.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="168" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497524006.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Monaco VISA数字货币卡">Monaco
                                        VISA数字货币卡</a></h4><h5>Monaco VISA数字货币卡</h5>
                                    <div class="block-content">Monaco
                                        VISA数字货币卡，为用户提供了APP和实体卡（借记卡），实现全球最佳银行间汇兑率消费和转账，连通全世界。
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH 5000.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="160" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497253919.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="DHG-区块链技术综合应用平台">DHG-区块链技术综合应用平台</a>
                                </h4><h5>DHG-区块链技术综合应用平台</h5>
                                    <div class="block-content">
                                        DHG是一个区块链技术综合应用平台，融合区块链发展至今的众多前沿技术，例如UTXO、侧链、SPV验证、混合挖矿以及智能合...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 2300.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="150" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497090177.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="humaniq-基于区块链技术作为平台的下一代无银行账户的金融服务">humaniq-基于区块链技术作为平台的下一代无银行账户的金融服务</a>
                                </h4><h5>humaniq-基于区块链技术作为平台的下一代无银行账户的金融服务</h5>
                                    <div class="block-content">
                                        Humaniq是基于区块链技术的去中心化平台。它的主要组成部分是使用标准智能合约协议（ERC20）在Ethereum区块链上进行交易结算...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH 4200.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="145" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1497005846.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="FirstBlood 一个去中心化的电竞比赛平台">FirstBlood
                                        一个去中心化的电竞比赛平台</a></h4><h5>FirstBlood 一个去中心化的电竞比赛平台</h5>
                                    <div class="block-content">致力成为一个让草根电竞玩家随时随地参与竞赛并且获得赏金的平台，
                                        我们是第一个使用区块链里面的智能合约和先知来进行电竞比赛的...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH 20833.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="144" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496990880.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Onplace-风投基金和ico众筹平台">Onplace-风投基金和ico众筹平台</a>
                                </h4><h5>Onplace-风投基金和ico众筹平台</h5>
                                    <div class="block-content">今天，私营企业的投资已经成为在相对较短的时间内获得投资回报率最高的最可靠方法之一，而主要的OnPlace
                                        Inc.的目标是为进行投...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH 14700.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="143" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496973411.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="公信宝-改变现有数据交易模式的区块链项目">公信宝-改变现有数据交易模式的区块链项目</a>
                                </h4><h5>公信宝-改变现有数据交易模式的区块链项目</h5>
                                    <div class="block-content">
                                        公信宝是一个基于区块链实现的去中心化数据交易所，旨在打通各平台数据源信息，实现各个机构之间的数据能够进行点对点交易和共享...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 2000.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="142" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496935495.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="SONM-通过互联网挖矿而组成的超级电脑">SONM-通过互联网挖矿而组成的超级电脑</a>
                                </h4><h5>SONM-通过互联网挖矿而组成的超级电脑</h5>
                                    <div class="block-content">
                                        SONM是一个去中心化的全球雾超级计算机，它可用于一般性的各种用途，从网络服务器到科学计算。SONM公司是解决全球问题的...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH
                                                273399.00</a></div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="139" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496905276.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="EOS-为商用分布式应用设计的区块链操作系统">EOS-为商用分布式应用设计的区块链操作系统</a>
                                </h4><h5>EOS-为商用分布式应用设计的区块链操作系统</h5>
                                    <div class="block-content">
                                        EOS.IO引入了一种新的区块链架构，旨在实现分布式应用的性能扩展。它实现了一个类似操作系统一样可以支持应用程序的架构。该...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 0.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="138" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496903617.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Status-一款基于Andriod和iOS的以太坊客户端应用">Status-一款基于Andriod和iOS的以太坊客户端应用</a>
                                </h4><h5>Status-一款基于Andriod和iOS的以太坊客户端应用</h5>
                                    <div class="block-content">Status是一款基于Andriod和iOS的以太坊客户端应用，是一款内置钱包，即时发送消息的通讯应用，也是一款
                                        DApp 浏览器，让用...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 4500.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="137" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496806209.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="医疗链-首个已进入中国公立医疗体系的区块链医疗科技公司">医疗链-首个已进入中国公立医疗体系的区块链医疗科技公司</a>
                                </h4><h5>医疗链-首个已进入中国公立医疗体系的区块链医疗科技公司</h5>
                                    <div class="block-content">
                                        旨在以去中心化的分布式结构应用于医疗行业耗费资源巨大的基础医疗信息保存和流转环节，节省大量的中介成本；通过安全的信任机制...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 2000.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="130" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1496115478.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="【仅展示】BAT—基于区块链技术，变革传统数字广告">【仅展示】BAT—基于区块链技术，变革传统数字广告</a>
                                </h4><h5>【仅展示】BAT—基于区块链技术，变革传统数字广告</h5>
                                    <div class="block-content">基于区块链的广告投放。基于以太坊，引入去中心化、透明的数字广告平台。</div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> ETH
                                                156250.00</a></div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper"><a class="heart-wrapper inactive" itd="112" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/40822eea779bc1c72b68a5aabe557cc9.png" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Wings">Wings</a>
                                </h4><h5>Wings</h5>
                                    <div class="block-content">Wings是去一个去中心化的平台，通过该平台可以创立、管理和参与去中心化自动化项目。 Wings
                                        可以为社区提供如下服务：1、邀请颇...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 2010.48</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper">
                                    <a class="heart-wrapper inactive" itd="36" its="3" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1484896962.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="Decent 内容发布平台">Decent
                                        内容发布平台</a></h4><h5>Decent 内容发布平台</h5>
                                    <div class="block-content">
                                        DECENT是一种基于区块链技术的分布式自运行组织，不受任何第三方干预。它是针对创意人、作者、博主和出版商及其粉丝的独立...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 5881.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper">
                                    <a class="heart-wrapper inactive" itd="62" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1484896121.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="小蚁项目Onchain 第二轮">小蚁项目Onchain
                                        第二轮</a></h4><h5>小蚁项目Onchain 第二轮</h5>
                                    <div class="block-content">
                                        小蚁是基于区块链技术的一种协议。小蚁上可以发行中国《合同法》、《公司法》认可的公司股权，目标市场不仅是数字货币圈，还包括...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 6119.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper">
                                    <a class="heart-wrapper inactive" itd="61" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                        <div class="li-item">
                            <div class="block-top">
                                <img src="__IMG__/show/exb-img1.png" class="status-tag-img"><a href="show_info.html" class="pro-pic"><img src="__IMG__/show/1484895144.jpg" alt=""></a>
                            </div>
                            <div class="block-bottom">
                                <div class="paddingLeftRight20"><h4>
                                    <a href="show_info.html" class="pro-title" title="维优-元界Metaverse">维优-元界Metaverse</a>
                                </h4><h5>维优-元界Metaverse</h5>
                                    <div class="block-content">Metaverse是基于区块链技术的去中心化协议，服务框架结合了智能资产网络（S.P.
                                        web），数字身份（D.I.）和价值中介（Oracl...
                                    </div>
                                    <div class="raise-funds">
                                        <div class="raise-money">
                                            <div class="target-account">目标金额</div>
                                            <a class="raise-already btc-font-family  raise-completed "> BTC 3964.00</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-wrapper">
                                    <a class="heart-wrapper inactive" itd="60" its="7" fis="2"><i class="iconfont heartStroke"></i></a>
                                    <a href="show_info.html" class="cat-detail">查看详情</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="look-more" style="display: none;" data-num="0">
            <img src="__IMG__/show/more.png">
        </a>
    </section>
</div>
<footer>
    <div class="footer-wrapper">
        <div class="about-us-w">
            <img src="__IMG__/bottom_logo.png" class="bottom_logo">
        </div>
        <div class="footer-content clearfix">
            <dl class="footer-fast-nav current-dl">
                <dt>快速导航</dt>
                <dd><a href="contactUs.html">联系我们</a></dd>
                <dd><a href="joinUs.html">加入我们</a></dd>
                <dd><a href="notice.html">最新公告</a></dd>
                <dd><a href="helpCenter.html">帮助中心</a></dd>
            </dl>
            <dl class="footer-link-us current-dl current-dd">
                <dt>联系方式</dt>
                <dd><span>QQ群1:</span>461370969（已满）</dd>
                <dd><span>QQ群2:</span>598585370（已满）</dd>
                <dd><span>QQ群3:</span>413047119（已满）</dd>
                <dd><span>QQ群4:</span>665094465（已满）</dd>
                <dd><span>QQ群5:</span>659298203（2000人）</dd>
            </dl>
            <dl class="current-dd current-dl" style="margin-left:50px;">
                <dt></dt>
                <dd><span>项目合作:</span>business@18ico.com</dd>
                <dd><span>媒体合作:</span>media@18ico.com</dd>
                <dd><span>客户支持:</span>support@18ico.com</dd>
            </dl>
            <div class="footer-focus-us fr">
                <h4>关注我们：</h4>
                <div class="fl">
                    <img src="__IMG__/gzh.png" alt="" width="52">
                    <p>微信公众号</p>
                </div>
                <div class="fl">
                    <img src="__IMG__/wxqm.png" alt="" width="52">
                    <p>微信群秘</p>
                </div>
                <div class="fl">
                    <img src="__IMG__/xlwb.png" alt="" width="52">
                    <p>微博关注</p>
                </div>
            </div>
        </div>
        <div class="friendship-link">
            <span>友情链接：</span>
            <a href="http://www.sosobtc.com/" target="_blank" rel="nofollow">sosobtc</a>
            <a href="http://www.huobi.com/" target="_blank" rel="nofollow">火币网</a>
            <a href="http://www.btcchina.com/" target="_blank" rel="nofollow">比特币中国</a>
            <a href="http://www.yuanbao.com/" target="_blank" rel="nofollow">元宝网</a>
            <a href="http://www.jubi.com/" target="_blank" rel="nofollow">聚币网</a>
            <a href="http://www.btctrade.com/" target="_blank" rel="nofollow">BTCTrade</a>
            <a href="http://www.btc38.com/" target="_blank" rel="nofollow">比特时代</a>
            <a href="http://www.lhang.com/" target="_blank" rel="nofollow">链行</a>
            <a href="https://www.bichuang.com/" target="_blank" rel="nofollow">币创网</a>
            <a href="http://www.biqushi.cn/" target="_blank" rel="nofollow">币区势</a>
            <a href="https://poloniex.com/" target="_blank" rel="nofollow">Poloniex</a>
            <a href="https://www.allcoin.com/" target="_blank" rel="nofollow">Allcoin</a>
            <a href="http://www.gongxiangcj.com/" target="_blank" rel="nofollow">共享财经</a>
            <a href="https://www.btc123.com/" target="_blank" rel="nofollow">BTC123</a>
            <a href="http://www.bitecoin.com/" target="_blank" rel="nofollow">比特币中文网</a>
        </div>
        <div class="icp-link">
            Copyright © 2017 18ico.com | 粤ICP备17004102号-1
        </div>
        <div class="choose-country fr">
            <a class="locale-lang" data-lang="zh-CN"><img src="__IMG__/chinese_version.png"></a>
            <a class="locale-lang" data-lang="en"><img src="__IMG__/america_version.png"></a>
        </div>
    </div>
</footer>
<div class="toolbar">
    <a href="javascript:" id="back_to_top" title="返回顶部" style="display: inline;">
        <svg height="30" width="30" viewBox="0 0 30 30">
            <path d="M30 26c0 2.2-1.8 4-4 4H4c-2.2 0-4-1.8-4-4V4c0-2.2 1.8-4 4-4h22c2.2 0 4 1.8 4 4v22z" opacity=".3"></path>
            <path fill="#FFF" d="M25.002 18.463l-1.134-1.134-1.321-1.321L15 8.461l-7.438 7.438-1.227 1.226-1.338 1.338c-.778.777-.868 1.96-.2 2.628s1.85.577 2.628-.2l2.172-2.172L15 13.317l2.691 2.691 3.496 3.496 1.387 1.387c.777.777 1.96.868 2.628.2s.577-1.851-.2-2.628z"></path>
        </svg>
    </a>
</div>
<script src="__JS__/hm.js"></script>
<script src="__JS__/vendor-140c67b313.bundle.js"></script>
<script src="__JS__/app-d2b0299975.bundle.js"></script>
<script src="__JS__/header-ee96b9a909.bundle.js"></script>
<script src="__JS__/idangerous.swiper.js"></script>
<script src="__JS__/show-c9d2f5347b.bundle.js"></script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?eb6a8119234c8004f91c94a2b8b726bd'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
    })()

    $(function () {
        var mySwiper = new Swiper('.swiper-container', {
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
            direction: 'horizontal',
            loop: true,
            autoplay: 3000, //时间
            // 如果需要分页器
            pagination: '.swiper-pagination',
            paginationClickable :true,

            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
    });
    $(".notice-wrapper-close").on("click", function () {
        $(".notice-wrapper").css('display', "none");
    });

    $(".arrow-right").on("click",function () {
        var len = $(".swiper-pagination .swiper-pagination-switch").length - 1;
        var num = $(".swiper-active-switch").index();
        if (num == len) {
            $(".swiper-pagination-switch").eq(0).trigger('click');
        }else{
            $(".swiper-active-switch").next(".swiper-pagination-switch").trigger('click');
        };

    });
    $(".arrow-left").on("click",function () {
        var len = $(".swiper-pagination .swiper-pagination-switch").length - 1;
        var num = $(".swiper-active-switch").index();
        if (num == 0) {
            $(".swiper-pagination-switch").eq(len).trigger('click');
        }else{
            $(".swiper-active-switch").prev(".swiper-pagination-switch").trigger('click');
        };

    });
</script>
</body>
</html>